body {
	background-color: ;
	

}
div {
	text-align: center;
}
h1, h3, p {
	text-align: center;
}

h1, h3 {
	color: black;
}

h1 {
	font-size: 5em;
	margin-top: 6%;
}
h3 {
	font-size: 3rem;
	margin-bottom: 5%;
	margin-top: 5%;
}

p, a {
	color: white;
	font-size: 2rem;
	margin-bottom: 5%;
}
a:hover {
	color: inherit;
}
input {
	margin-bottom: 5%;
	text-align: center;
	font-size: 120%;
	height: 40px;
	border-radius: 10px;
}
img {
	height: 16%;
	width: 16%;
	margin-top: 5%;
}
/* Search Button Styles */
.btn-primary {
	width: 100px;
	height: 40px;
	text-align: center;
	border-radius: 7px;
	border: 1px solid white;
}
/*----------------------*/
/* nav styles */
.navbar-brand {
	color: initial;
	text-align: center;
	font-family: cursive;
	font-size: 3rem;
}
.nav {
	color: initial;
	font-size: 2rem;
}
/*----------------*/