/* Container Styles */
body {
<<<<<<< HEAD
	background-color: #183056;
=======
	background-color: ;
	

>>>>>>> origin/master
}
div {
	text-align: center;
}
ul {
	margin-top: 5%;
	padding: 0;
}
/*-----------------*/
/* Navbar Styles */
.navbar-brand {
	float: none;
}
.navbar-header {
	height: 40px;
}
.navbar-brand > img {
	height: 40px;
	width: 40px;
	margin-top: -40%;
}
.nav {
	color: initial;
	font-size: 2rem;
}
/* ------------ */
/*Text Styles*/
h1, h3, p {
	text-align: center;
}

h1, h3 {
	color: white;
}

h1 {
<<<<<<< HEAD
	font-size: 4em;
	margin-top: 2%;
=======
	font-size: 5em;
	margin-top: 6%;
>>>>>>> origin/master
}
h3 {
	font-size: 3rem;
<<<<<<< HEAD
	margin-bottom: 2%;
=======
	margin-bottom: 5%;
	margin-top: 5%;
>>>>>>> origin/master
}

img {
	height: 20%;
	width: 20%;
	margin-bottom: 5%;
	margin-top: 2%;
}
/*Output list item styles */
#output > li {
	color: black;
	list-style-type: none;
	margin-bottom: 3%;
	margin-top: 3%;
	padding: 2% 2%;
	background-color: orange;
}
#output > li > a {
	color: white;
	height: 100%;
	font-size: 2.1rem;
}
#output > li > p {
	font-size: 2rem;
	margin-top: 3%;
}
/*----------------------*/
a:hover {
	color: inherit;
}
/*----------*/
/* Search Field Styles */
input {
	margin-bottom: 3%;
	text-align: center;
	font-size: 120%;
	height: 40px;
	border-radius: 10px;
}
<<<<<<< HEAD
.btn-primary {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 12%;
	width: 10%;
}
/*---------------------*/
=======
img {
	height: 16%;
	width: 16%;
	margin-top: 5%;
}
/* Search Button Styles */
.btn-primary {
	width: 100px;
	height: 40px;
	text-align: center;
	border-radius: 7px;
	border: 1px solid white;
}
/*----------------------*/
/* nav styles */
.navbar-brand {
	color: initial;
	text-align: center;
	font-family: cursive;
	font-size: 3rem;
}
.nav {
	color: initial;
	font-size: 2rem;
}
/*----------------*/
>>>>>>> origin/master
